<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>PassDeposit</title>
	<link rel="icon" type="image/x-icon" href="media/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<meta property="og:description" content="Simple and secure online password manager. Store and access your passwords online." />
	<meta name="description" content="Simple and secure online password manager. Store and access your passwords online." />

	<link rel="stylesheet" href="css/passdeposit.css">
	<script src="js/passdeposit.js"></script>
</head>
<body>
	<div id="beta"></div>

	<!-- Pages -->
	{% include pages %}
	
	<!-- Dialogs -->
	{% include dialogs %}

	<!-- Localizable texts -->
	{% include text.htm %}
</body>
</html>
