<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>PassDeposit</title>
	<link rel="icon" type="image/x-icon" href="media/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<link rel="stylesheet" href="css/passdeposit.css">
	<script src="js/passdeposit.js"></script>
</head>
<body>
	<!-- Pages -->
	{% include pages/front.htm %}
	{% include pages/main.htm %}
	
	<!-- Dialogs -->
	{% include dialogs/register.htm %}
	{% include dialogs/pwforgot.htm %}
	{% include dialogs/lock.htm %}
	{% include dialogs/donation.htm %}
	{% include dialogs/options.htm %}

	<!-- Localizable texts -->
	{% include text.htm %}
</body>
</html>
