# Generic files to ignore
*.DS_Store

# IDE / Editor specific
PassDeposit.sublime-workspace

# Project specific
stuff
.sass-cache
build
config
node_modules/optimist
node_modules/mongoose
node_modules/email
node_modules/zeroclipboard
