# Generic files to ignore
*.DS_Store
*._*

# IDE / Editor specific
PassDeposit.sublime-workspace

# Project specific
stuff
.sass-cache
build
install/backup/mongo_backup_*
install/log/*.log
install/config/mongodb_initial_admin_password.txt
install/config/mongodb_initial_passdeposit_password.txt
install/config/mongodb-init-scripts/init.js
install/config/passdeposit.json

# Exclude all node_modules except local ones
node_modules/*
!node_modules/bootstrap-tag/
!node_modules/bootstrap/
!node_modules/fuse.js/
!node_modules/jquery-csv/
!node_modules/jquery-jgrowl/
!node_modules/jquery-total-storage/
!node_modules/jquery/
!node_modules/sjcl/
!node_modules/zeroclipboard/
