version: "3.8"

# Hint: Versions and tags are set in the file ".env"

services:
    passdeposit:
        image: node:${NODE_TAG}
        command: sh "/passdeposit/scripts/init-passdeposit.sh"
        ports:
            - 8000:8000
        volumes:
            - ./install:/passdeposit

    mongodb:
        image: mongo:${MONGODB_TAG}
        restart: always
        environment:
            MONGO_INITDB_ROOT_USERNAME: admin
            MONGO_INITDB_ROOT_PASSWORD_FILE: /passdeposit/config/mongodb_initial_admin_password.txt
            MONGO_INITDB_DATABASE: passdeposit
        ports:
            - 127.0.0.1:27017:27017
        volumes:
            - ./install:/passdeposit
            - ./install/config/mongodb-init-scripts/:/docker-entrypoint-initdb.d
            - mongodb-data:/data/db
            - mongodb-config:/data/configdb

    mongodb-backup:
        image: ubuntu:${BACKUP_SYSTEM_UBUNTU_TAG}
        command: sh "/passdeposit/scripts/init-mongodb-backup.sh"
        environment:
            - MONGODB_VERSION
        volumes:
            - ./install:/passdeposit

volumes:
    mongodb-data:
    mongodb-config:
