version: "3.8"

services:
    passdeposit:
        image: node:14
        working_dir: /passdeposit
        command: sh -c "npm install --global passdeposit && passdeposit --config /etc/passdeposit/passdeposit.json"
        ports:
            - 8000:8000
        volumes:
            - ./install/config:/etc/passdeposit
        depends_on:
            - mongodb

    mongodb:
        image: mongo:3.6.9
        restart: always
        environment:
            MONGO_INITDB_ROOT_USERNAME: admin
            MONGO_INITDB_ROOT_PASSWORD_FILE: /etc/passdeposit/mongodb_initial_admin_password.txt
            MONGO_INITDB_DATABASE: passdeposit
        ports:
            - 127.0.0.1:27017:27017
        volumes:
            - ./install/config:/etc/passdeposit
            - ./install/config/mongodb-init-scripts/:/docker-entrypoint-initdb.d
            - mongodb-data:/data/db
            - mongodb-config:/data/configdb

    mongodb-backup:
        image: debian:11
        command: sh -c "apt-get update && apt-get install anacron && cat /etc/passdeposit/anacrontab.txt >> /etc/anacrontab && service anacron start"
        volumes:
            - ./install/config:/etc/passdeposit
            - ./install/backup:/var/passdeposit/backup

volumes:
    mongodb-data:
    mongodb-config:
