/**
 * PassDeposit
 * 
 * Created by Max Geissler
 */

$prependWidth: 32px;
$btnWidth: 70px;
$moveText: $prependWidth + 7px;

.itemField
{
	display: table;
	width: 100%;

	white-space: normal;

	/* Tooltips will be repositioned on resize */
	//position: relative; // Seems not necessary. (TODO: Check)

	> div
	{
		display: table-cell;
		vertical-align: top;

		/* Input container */
		&:first-child
		{
			width: 100%;

			.add-on
			{
				/* Move the add-on above the input element */
				position: absolute;

				/* The focus brings the input to z-index 2, so needs to be higher */
				z-index: 3;
				
				/* Set fixed width */
				width: ($prependWidth - 10px);

				/* Remove the border, input now takes care of this except from the right one */
				border: 0;

				/* Reseparate the add-on from the input */
				border-right: 1px solid rgb(204, 204, 204);

				/* Account for the 1px gap caused by removing the border */
				margin: 1px 0 1px 1px;
				
				/* Pass pointer events to underlying input */
				pointer-events: none;

				/* Cut off edges => border of underlying input visible */
				border-bottom-left-radius: 4px;
				border-top-left-radius: 4px;
				
				/* Prevent wrapping */
				white-space: nowrap;
			}

			input
			{
				width: 100%;

				/* Include border and padding in width */
				@include box-sizing(border-box);

				/* Set height manually, because border-box breaks it */
				height: 30px;

				/* Move text to right to prevent overlapping with add-on */
				padding-left: $moveText;
			}
		}

		/* Button container */
		&:last-child
		{
			/* Prevent wrapping of buttons */
			white-space: nowrap;

			> .btn
			{
				width: $btnWidth;
			}

			/* If no buttons are present, the input is in this container */
			input
			{
				border-bottom-right-radius: 4px;
				border-top-right-radius: 4px;
			}
		}
	}
}

.itemFieldTags
{
	position: relative;
	margin-bottom: 10px;

	cursor: text;
	
	.tags
	{
		width: 100%;
		padding-left: $moveText;
		margin-bottom: 0;
	}
	
	.addOnContainer
	{
		height: 100%;
		background-color: transparent;
		
		/* Move the add-on above the input element */
		position: absolute;

		/* The focus brings the input to z-index 2, so needs to be higher */
		z-index: 3;
		
		/* Set fixed width + 2px (padding)  */
		width: ($prependWidth + 2px);
		
		/* Pass pointer events to underlying input */
		pointer-events: none;
		
		/* Account for the 1px gap caused by removing the border */
		padding: 1px 0 1px 1px;
		
		/* Include padding in width & height */
		@include box-sizing(border-box);
	}
	
	.addOn
	{
		display: block;
		height: 100%;
		
		background-color: #eeeeee;
		
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		
		/* Reseparate the add-on from the input */
		border-right: 1px solid rgb(204, 204, 204);
		
		padding-left: 4px;
		
		i
		{
			margin-top: 5px;
			margin-left: 5px;
		}
	}
}
