/**
 * PassDeposit
 * 
 * Created by Max Geissler
 */

#landingPage
{
	padding: 30px;
	text-align: center;
	background-color: rgb(248, 248, 248);

	> h1
	{
		margin: 0;
	}

	.info
	{
		margin-top: 20px;
	}

	.donate
	{
		margin-top: 50px;
	}

	.social
	{
		margin-top: 30px;
		
		> a
		{
			display: inline-block;

			width: 32px;
			height: 32px;

			background-image: url('../media/social.png');
		}

		.facebook
		{
			background-position: -192px 0px;
			&:hover
			{
				background-position: -192px -32px;
			}
		}

		.googleplus
		{
			background-position: -160px 0px;
			&:hover
			{
				background-position: -160px -32px;
			}
		}

		.twitter
		{
			background-position: 0px 0px;
			&:hover
			{
				background-position: 0px -32px;
			}
		}

		.linkedin
		{
			background-position: -128px 0px;
			&:hover
			{
				background-position: -128px -32px;
			}
		}

		.pinterest
		{
			background-position: -96px 0px;
			&:hover
			{
				background-position: -96px -32px;
			}
		}

		.reddit
		{
			background-position: -64px 0px;
			&:hover
			{
				background-position: -64px -32px;
			}
		}

		.tumblr
		{
			background-position: -32px 0px;
			&:hover
			{
				background-position: -32px -32px;
			}
		}
	}
}

@-webkit-keyframes wiggle
{
	0% {-webkit-transform: rotate(6deg);}
	50% {-webkit-transform: rotate(-6deg);}
	100% {-webkit-transform: rotate(6deg);}
}
@-moz-keyframes wiggle
{
	0% {-moz-transform: rotate(6deg);}
	50% {-moz-transform: rotate(-6deg);}
	100% {-moz-transform: rotate(6deg);}
}
@-o-keyframes wiggle
{
	0% {-o-transform: rotate(6deg);}
	50% {-o-transform: rotate(-6deg);}
	100% {-o-transform: rotate(6deg);}
}
@keyframes wiggle
{
	0% {transform: rotate(6deg);}
	50% {transform: rotate(-6deg);}
	100% {transform: rotate(6deg);}
}

#primaryDonationLink
{
	display: inline-block;

	&.wiggle:not(:hover)
	{
		-webkit-animation: wiggle 0.2s ease 2;
		-moz-animation: wiggle 0.2s ease 2;
		-o-animation: wiggle 0.2s ease 2;
		animation: wiggle 0.2s ease 2;
	}
}
