/**
 * PassDeposit
 * 
 * Created by Max Geissler
 */

/* TODO: Check min-width on frontpage and mainpage! Use .container? */

#mainpage
{
	width: 45%;
	min-width: 680px;;
	
	margin-left: auto;
	margin-right: auto;
	
	.logo
	{
		display: block;
		
		margin-left: auto;
		margin-right: auto;
		
		margin-top: 30px;
		margin-bottom: 30px;
		
		width: 384px;
		height: 85px;
	}
	
	.mainNav
	{
		$space: 10px;
		
		display: table;
		
		padding-bottom: 25px;
		
		/* Direct children */
		>
		{
			*
			{
				display: table-cell;
				padding-right: $space;

				div.heightFix
				{
					margin-bottom: 0px;
				}
			}
			
			*:last-child
			{
				padding-right: 0px;
			}
			
			*.fullWidth
			{
				width: 100%;
				padding-right: ($space + 2px); /* Fix search field */
			}
		}
	}
}
