/**
 * PassDeposit
 * 
 * Created by Max Geissler
 */

/* TODO: Check min-width on frontpage and mainpage! Use .container? */

#mainpage
{
	width: 45%;
	min-width: 680px;
	
	margin-left: auto;
	margin-right: auto;
	
	.logo
	{
		display: block;
		
		margin-left: auto;
		margin-right: auto;
		
		margin-top: 30px;
		margin-bottom: 30px;
		
		width: 384px;
		height: 85px;
	}
	
	.mainNav
	{
		$space: 10px;
		
		display: table;
		
		padding-bottom: 25px;

		.relative
		{
			position: relative;
		}

		i.icon-wrench:before
		{
			width: 14px;
		}

		.searchBarContainer
		{
			width: 100%;

			.searchBar
			{
				width: 100%;
				@include box-sizing(border-box);

				/* Space for dropdown button */
				padding-right: 33px;

				/* Height fix */
				margin-bottom: 0px;

				input
				{
					width: 100%;
					@include box-sizing(border-box);

					/* Manually set height */
					height: 30px;
				}
			}
		}
		
		/* Direct children */
		>
		{
			*
			{
				display: table-cell;
				padding-right: $space;
			}
			
			*:last-child
			{
				padding-right: 0px;
			}
			
			*.fullWidth
			{
				width: 100%;
			}
		}
	}
}
