/**
 * PassDeposit
 * 
 * Created by Max Geissler
 */

#mainList
{
	box-shadow: rgba(0, 0, 0, 0.0627451) 0px 1px 4px 0px;

	.item
	{
		$height: 36px;
		$borderRadius: 4px;
		$arrowWidth: 18px;
		$arrowMargin: 3px;
		$colorActive: #005580;
		$itemBackgroundColor: rgb(248, 248, 248);
		$itemBackgroundColorActive: rgb(240, 240, 240);
		$arrowOpacityInactive: 0.3;
		$arrowOpacityActive: 0.6;
		$btnOpacityInactive: $arrowOpacityInactive;
		$btnOpacityActive: 0.8;
		$padding: 8px;


		/* General item styling */

		border: 1px solid #e3e3e3;
		background-color: $itemBackgroundColor;

		&:first-child
		{
			border-top-left-radius: $borderRadius;
			border-top-right-radius: $borderRadius;
		}

		&:last-child
		{
			border-bottom-left-radius: $borderRadius;
			border-bottom-right-radius: $borderRadius;
		}

		&:not(:first-child)
		{
			border-top: 0;
		}


		/* General header styling */
		.header
		{
			display: table;
			width: 100%;
			height: $height;

			.clickable
			{
				display: table-cell;
				width: 100%;

				padding-left: $padding;
				padding-right: $padding;

				cursor: pointer;
				color: #0088cc;

				.posrel
				{
					/* Fix for Firefox: position relative doesn't work on table-cell => Add .posrel div */
					position: relative;
					line-height: $height;

					.description
					{
						width: 100%;

						position: absolute;
						top: 0;
						left: 0;

						/* Cut text */
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;

						/* Icon */
						> div
						{
							display: inline-block;
							width: $arrowWidth;
							margin-right: $arrowMargin;
							margin-left: -1px;

							/* Icon styling */
							text-align: center;
							font-size: 13px;

							> i
							{
								color: rgb(51, 51, 51);
								opacity: $arrowOpacityInactive;
							}
						}

						.dot
						{
							padding-left: 2px;
							padding-right: 2px;

							font-weight: bold;
						}
					}
				}
			}

			/* General button styling */
			.buttons
			{
				display: table-cell;
				vertical-align: middle;

				/* Prevent wrapping of multiple buttons */
				white-space: nowrap;

				padding-right: ($padding - 2px);

				> a
				{
					display: inline-block;

					text-decoration: none;

					/* Size: 24x24 px */
					padding-top: 2px;
					padding-left: 5px;
					padding-bottom: 2px;
					padding-right: 5px;

					/* Icon color */
					color: rgb(51, 51, 51);

					/* Icon opacity */
					opacity: $btnOpacityInactive;
					&:not(.btnPass):hover, &.active
					{
						opacity: $btnOpacityActive;
					}

					/* Icon size fix */
					i.icon-share-alt
					{
						font-size: 12px;
					}
				}
			}
		}

		/* Open item styling */
		&.open
		{
			.header
			{
				.clickable
				{
					// cursor: default;
					color: $colorActive;

					.posrel
					{
						.description
						{
							/* Icon */
							> div:first-child > i
							{
								@extend .icon-chevron-down;
								opacity: $arrowOpacityActive;
							}
						}
					}
				}

				/* Make buttons invisible */
				.buttons
				{
					display: none;
				}
			}
		}

		/* Hover header styling */
		&:not(.open):hover
		{
			background-color: $itemBackgroundColorActive;
			
			.header
			{
				.clickable
				{
					color: $colorActive;

					.posrel
					{
						.description
						{
							/* Icon */
							> div:first-child > i
							{
								/* Darken arrow */
								opacity: $arrowOpacityActive;
							}
						}
					}
				}
			}
		}

		/* Closed item styling */
		&:not(.open)
		{
			.content
			{
				display: none;
			}
		}

		/* Content styling */
		.content
		{
			$leftMargin: ($padding + $arrowWidth + $arrowMargin);
			$margin: ($leftMargin * 0.75);

			margin-top: ($margin - 12px);
			margin-left: $leftMargin;
			margin-bottom: $margin;
			margin-right: $margin;

			position: relative;

			.innerTab
			{
				display: table;
				height: 100%;

				.innerContent
				{
					display: table-row;
					width: 100%;
					height: 100%;

					> *
					{
						display: table-cell;
						vertical-align: top;
					}

					.contentLeft
					{
						width: 100%;

						/* Prevent double spacing */
						> *:last-child
						{
							margin-bottom: 0;
						}

						.actionButtons
						{
							> *:not(:first-child)
							{
								/* Space between buttons: 10px */
								margin-left: 6px;
							}
						}
					}

					/* Space between action buttons and fields */
					&:last-child .contentLeft
					{
						padding-top: 15px;
					}

					.contentRight
					{
						height: 100%;
						padding-left: 20px;

						/* Prevent content wrapping */
						white-space: nowrap;

						.well
						{
							height: 100%;
							margin-bottom: 0;

							table tr td:first-child
							{
								padding-right: 10px;
							}
						}
					}
				}
			}
		}
	}
}
