/**
 * PassDeposit
 * 
 * Created by Max Geissler
 */

#mainList
{
	box-shadow: rgba(0, 0, 0, 0.0627451) 0px 1px 4px 0px;

	.item
	{
		$borderRadius: 4px;
		$arrowLeft: 18px;
		$colorActive: #005580;

		padding: 8px;

		background-color: rgb(248, 248, 248);
		border: 1px solid #e3e3e3;

		cursor: pointer;

		color: #0088cc;

		&:not(.open):hover
		{
			background-color: rgb(240, 240, 240);
			color: $colorActive;
		}

		&:not(:first-child)
		{
			border-top: 0;
		}

		&:first-child
		{
			border-top-left-radius: $borderRadius;
			border-top-right-radius: $borderRadius;
		}

		&:last-child
		{
			border-bottom-left-radius: $borderRadius;
			border-bottom-right-radius: $borderRadius;
		}

		&.open
		{
			cursor: default;
			color: $colorActive;
		}

		/* Set the arrow */
		$arrowOpacityInactive: 0.3;
		$arrowOpacityActive: 0.6;
		& > .line > div:first-child > i
		{
			opacity: $arrowOpacityInactive;
		}

		&:hover > .line > div:first-child > i
		{
			opacity: $arrowOpacityActive;
		}

		&.open > .line > div:first-child > i
		{
			@extend .icon-chevron-down;
			opacity: $arrowOpacityActive;
		}

		.line
		{
			display: table;
			width: 100%;

			> div
			{
				display: table-cell;
			}

			> div:first-child
			{
				width: $arrowLeft;
			}

			// TODO: no word wrap + overflow hidden
			.description
			{
				overflow: hidden;
			}

			.dot
			{
				// TODO: Why not working?
				//content: "•";

				padding-left: 2px;
				padding-right: 2px;

				font-weight: bold;
			}
		}

		.content
		{
			$defaultMargin: 6px;

			margin-top: ($defaultMargin + 6px);
			margin-left: $arrowLeft;
			margin-bottom: $defaultMargin;
			margin-right: ($defaultMargin + 250px);
		}
	}
}
