/**
 * PassDeposit
 * 
 * Created by Max Geissler
 */

#mainList
{
	box-shadow: rgba(0, 0, 0, 0.0627451) 0px 1px 4px 0px;

	.item
	{
		$borderRadius: 4px;
		$arrowLeft: 18px;
		$colorActive: #005580;
		$itemBackgroundColor: rgb(248, 248, 248);
		$itemBackgroundColorActive: rgb(240, 240, 240);

		padding: 8px;

		background-color: $itemBackgroundColor;
		color: #0088cc;
		border: 1px solid #e3e3e3;

		cursor: pointer;

		&:not(.open):hover
		{
			background-color: $itemBackgroundColorActive;
			color: $colorActive;
		}

		&:not(:first-child)
		{
			border-top: 0;
		}

		&:first-child
		{
			border-top-left-radius: $borderRadius;
			border-top-right-radius: $borderRadius;
		}

		&:last-child
		{
			border-bottom-left-radius: $borderRadius;
			border-bottom-right-radius: $borderRadius;
		}

		&.open
		{
			cursor: default;
			color: $colorActive;
		}

		/* Set the arrow */
		$arrowOpacityInactive: 0.3;
		$arrowOpacityActive: 0.6;
		& > .line > div:first-child > i
		{
			opacity: $arrowOpacityInactive;
		}

		// Hover effects
		&:not(.open):hover
		{
			// Darken arrow
			& > .line > div:first-child > i
			{
				opacity: $arrowOpacityActive;
			}

			// Darken gradient for text cut
			& > .line:after
			{
				$itemBackgroundColorActiveTransparent: rgba($itemBackgroundColorActive, 0);
				@include background-image(linear-gradient(left, $itemBackgroundColorActiveTransparent 0%, $itemBackgroundColorActiveTransparent 92%, $itemBackgroundColorActive 100%));
			}
		}

		&.open > .line > div:first-child > i
		{
			@extend .icon-chevron-down;
			opacity: $arrowOpacityActive;
		}

		.line
		{
			// Cut text instead of wrapping
			overflow: hidden;
			white-space: nowrap;

			// Needed for :after
			position: relative;

			// Smoothly cut text by applying gradient
			&:after
			{
				content: "";

				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;

				$itemBackgroundColorTransparent: rgba($itemBackgroundColor, 0);
				@include background-image(linear-gradient(left, $itemBackgroundColorTransparent 0%, $itemBackgroundColorTransparent 92%, $itemBackgroundColor 100%));
			}

			> div
			{
				display: inline-block;
			}

			> div:first-child
			{
				width: $arrowLeft;
			}

			.dot
			{
				// TODO: Why not working?
				//content: "•";

				padding-left: 2px;
				padding-right: 2px;

				font-weight: bold;
			}
		}

		.content
		{
			$defaultMargin: 6px;

			margin-top: ($defaultMargin + 6px);
			margin-left: $arrowLeft;
			margin-bottom: $defaultMargin;
			margin-right: ($defaultMargin + 250px);
		}
	}
}
