/**
 * PassDeposit
 * 
 * Created by Max Geissler
 */

#optionsNav
{
	margin-bottom: 10px;
}

#options-import-csv
{
	textarea
	{
		@include box-sizing(border-box);
		width: 100%;

		margin-bottom: 5px;
		margin-top: 5px;
	}
}

#options-email
{
	.itemField:last-child
	{
		margin-bottom: 0;
	}
}

#options-password
{
	ul
	{
		margin-bottom: 15px;
	}

	.itemField:last-child
	{
		margin-bottom: 0;
	}
}
