/**
 * PassDeposit
 * 
 * Created by Max Geissler
 */

#landingPage, #noresults
{
	padding: 30px;
	text-align: center;
	background-color: rgb(248, 248, 248);

	> h1
	{
		margin: 0;
	}

	.info
	{
		margin-top: 20px;
	}

	.noresults
	{
		color: #b94a48;
	}

	.donate
	{
		margin-top: 50px;
	}

	.social
	{
		margin-top: 30px;
		
		> a
		{
			display: inline-block;

			width: 32px;
			height: 32px;

			text-decoration: none;
			color: rgb(120, 120, 120);

			[class^="icon-"]:before, [class*=" icon-"]:before
			{
				width: 32px;
				margin-top: 2px;
			}

			&.facebook:hover
			{
				color: rgb(59, 89, 152);
			}

			&.googleplus:hover
			{
				color: rgb(218, 80, 59);
			}

			&.twitter:hover
			{
				color: rgb(44, 170, 225);
			}

			&.pinterest:hover
			{
				color: rgb(201, 34, 40);
			}

			&.tumblr:hover
			{
				color: rgb(50, 80, 109);
			}
		}
	}
}

@-webkit-keyframes wiggle
{
	0% {-webkit-transform: rotate(0deg);}
	25% {-webkit-transform: rotate(7deg);}
	50% {-webkit-transform: rotate(0deg);}
	75% {-webkit-transform: rotate(-7deg);}
	100% {-webkit-transform: rotate(0deg);}
}
@-moz-keyframes wiggle
{
	0% {-moz-transform: rotate(0deg);}
	25% {-moz-transform: rotate(7deg);}
	50% {-moz-transform: rotate(0deg);}
	75% {-moz-transform: rotate(-7deg);}
	100% {-moz-transform: rotate(0deg);}
}
@-o-keyframes wiggle
{
	0% {-o-transform: rotate(0deg);}
	25% {-o-transform: rotate(7deg);}
	50% {-o-transform: rotate(0deg);}
	75% {-o-transform: rotate(-7deg);}
	100% {-o-transform: rotate(0deg);}
}
@keyframes wiggle
{
	0% {transform: rotate(0deg);}
	25% {transform: rotate(7deg);}
	50% {transform: rotate(0deg);}
	75% {transform: rotate(-7deg);}
	100% {transform: rotate(0deg);}
}

#primaryDonationLink
{
	display: inline-block;

	&.wiggle:not(:hover)
	{
		-webkit-animation: wiggle 0.3s linear 6;
		-moz-animation: wiggle 0.3s linear 6;
		-o-animation: wiggle 0.3s linear 6;
		animation: wiggle 0.3s linear 6;
	}
}
