#mainpage
{
	margin-left: auto;
	margin-right: auto;
	
	width: 500px;
	
	display: none;
}

#mainpage img.logo
{
	display: block;
	
	margin-left: auto;
	margin-right: auto;
	
	width: 325px;
	height: 260px;
}

#mainpage #search
{
	margin-top: 30px;
	width: 500px;
}