<!-- Main page -->
<div id="mainpage" class="hide">
	<img src="media/passdeposit_small.png" alt="PassDeposit" class="logo" />
	
	<!-- Main navigation bar -->
	{% include main/mainnav.htm %}

	<!-- Advanced search -->
	<div id="searchOptions" class="hide">
		Advanced search options.<br />
		Coming soon.
	</div>

	<!-- Main item list -->
	<div id="mainList" class="hide"></div>

	<!-- Landing page -->
	{% include main/landingpage.htm %}

	<!-- Item template -->
	{% include main/item.htm %}

	<!-- Field templates -->
	<div class="itemFieldTemplates hide">
		{% include main/fields/uri.htm %}
		{% include main/fields/user.htm %}
		{% include main/fields/pass.htm %}
		{% include main/fields/email.htm %}
		{% include main/fields/service.htm %}
		{% include main/fields/text.htm %}
	</div>
	
	<!-- Pagination -->
	<div class="pagination pagination-centered hide">
		<ul>
			<li class="disabled"><a href="#">&laquo;</a></li>
			<li class="active"><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li class="disabled"><a href="#">...</a></li>
			<li><a href="#">9</a></li>
			<li><a href="#">10</a></li>
			<li><a href="#">11</a></li>
			<li><a href="#">&raquo;</a></li>
		</ul>
	</div>
</div>
