<!-- Main page -->
<div id="mainpage" class="hide">
	<img src="media/passdeposit_small.png" alt="PassDeposit" class="logo" />
	
	<!-- Main navigation bar -->
	{% include main/mainnav.htm %}

	<!-- Main item list -->
	{% include main/mainlist.htm %}
	
	<!-- Pagination -->
	<div class="pagination pagination-centered">
		<ul>
			<li class="disabled"><a href="#">&laquo;</a></li>
			<li class="active"><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li class="disabled"><a href="#">...</a></li>
			<li><a href="#">9</a></li>
			<li><a href="#">10</a></li>
			<li><a href="#">11</a></li>
			<li><a href="#">&raquo;</a></li>
		</ul>
	</div>
</div>

<!-- Advanced search -->
<div id="searchOptions" class="hide">
	Advanced search options...
</div>
