<!-- Main page -->
<div id="mainpage" class="page hide">
	<img src="media/passdeposit_small.png" alt="PassDeposit" class="logo" />
	
	<!-- Main navigation bar -->
	{% include mainnav.htm %}

	<!-- Advanced search -->
	<div id="searchOptions" class="hide">
		Type <a href="#all">:all</a> to show all your items.<br />
		More search options coming soon.
	</div>

	<!-- Main item list -->
	<div id="mainList" class="hide"></div>

	<!-- Landing page -->
	{% include landingpage.htm %}

	<!-- Item template -->
	{% include item.htm %}

	<!-- Field templates -->
	<div class="itemFieldTemplates hide">
		{% include fields/uri.htm %}
		{% include fields/user.htm %}
		{% include fields/pass.htm %}
		{% include fields/email.htm %}
		{% include fields/service.htm %}
		{% include fields/text.htm %}
	</div>
	
	<!-- Pagination -->
	{% include pagination.htm %}
</div>
