<div id="mainList">
	<div class="item">
		<div class="header">
			<div class="clickable">
				<div class="posrel">
					<div class="description">
						<div>
							<i class="icon-chevron-right"></i>
						</div>username
						<span class="dot">•</span>
						Skype
					</div>
				</div>
			</div>
			<div class="buttons">
				<a href="#" class="btnPass">
					<i class="icon-lock"></i>
				</a>
			</div>
		</div>
	</div>

	<div class="item open">
		<div class="header">
			<div class="clickable">
				<div class="posrel">
					<div class="description">
						<div>
							<i class="icon-chevron-right"></i>
						</div>username
						<span class="dot">•</span>
						www.example.com
					</div>
				</div>
			</div>
			<div class="buttons">
				<a href="#" target="_blank" class="btnOpen">
					<i class="icon-share-alt"></i>
				</a><a href="#" class="btnPass">
					<i class="icon-lock"></i>
				</a>
			</div>
		</div>
		<div class="content">
			<div class="innerTab">
				<div class="innerContent">
					<div class="contentLeft">
						<!-- Include fields -->
						{% include fields/uri.htm %}
						{% include fields/user.htm %}
						{% include fields/pass.htm %}

						{% include fields/email.htm %}
						{% include fields/service.htm %}
						{% include fields/text.htm %}

						{% include fields/tags.htm %}

						<!-- Control buttons -->
						<div class="btn-group">
							<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
								<i class="icon-plus"></i>
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								{% include fields/dropdown/items/fieldtypes.htm %}
							</ul>
						</div>
						<div class="actionButtons pull-right">
							<div class="btn-group">
								<button type="button" class="btn btnDelete">Delete</button>
								<button type="button" class="btn btnDuplicate">Duplicate</button>
							</div>
							<button type="button" class="btn btnCancel">Cancel</button>
							<button type="button" class="btn btn-primary btnSave">Save</button>
						</div>
					</div>
					<div class="contentRight">
						<div class="well">
							<table>
								<tr>
									<td>Encryption:</td>
									<td>AES 256</td>
								</tr>
								<tr>
									<td>Created:</td>
									<td>2013-08-25</td>
								</tr>
								<tr>
									<td>Modified:</td>
									<td>2013-09-10</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="item">
		<div class="header">
			<div class="clickable">
				<div class="posrel">
					<div class="description">
						<div>
							<i class="icon-chevron-right"></i>
						</div>username
						<span class="dot">•</span>
						www.example.com
						<span class="dot">•</span>
						Some very very very very very very very very very very long description
					</div>
				</div>
			</div>
			<div class="buttons">
				<a href="#" target="_blank" class="btnOpen">
					<i class="icon-share-alt"></i>
				</a><a href="#" class="btnPass">
					<i class="icon-lock"></i>
				</a>
			</div>
		</div>
	</div>

	<div class="item">
		<div class="header">
			<div class="clickable">
				<div class="posrel">
					<div class="description">
						<div>
							<i class="icon-chevron-right"></i>
						</div>username@gmail.com
					</div>
				</div>
			</div>
			<div class="buttons">
				<a href="#" class="btnPass">
					<i class="icon-lock"></i>
				</a>
			</div>
		</div>
	</div>

	<div class="item">
		<div class="header">
			<div class="clickable">
				<div class="posrel">
					<div class="description">
						<div>
							<i class="icon-chevron-right"></i>
						</div>Description
						<span class="dot">•</span>
						www.example.com
					</div>
				</div>
			</div>
			<div class="buttons">
				<a href="#" target="_blank" class="btnOpen">
					<i class="icon-share-alt"></i>
				</a>
			</div>
		</div>
	</div>
</div>
