input.text, textarea.text
{
	width: 200px;
	
	outline: none;
	
	border-radius: 4px;
	box-shadow: 0 0 0 black,inset 0px 3px 3px #EEE;
	
	border: 1px solid #BFBFBF;
	padding: 7px;
	line-height: 100%;
}

input.text:hover, input.text:focus, textarea.text:hover, textarea.text:focus
{
	border: 1px solid #A0A0A0;
}

input.button
{
	outline: none;
	
	border-radius: 4px;
	
	text-align: center;
	padding: 7px 50px;
	
	font-weight: 600;
	cursor: pointer;
	overflow: visible;

	color: white;
	border-top: 1px #2270AB solid;
	border-right: 1px #18639A solid;
	border-bottom: 1px #0F568B solid;
	border-left: 1px #18639A solid;
	
	background: #2180CE;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#33a0e8", endColorstr="#2180ce");
	background: -webkit-gradient(linear, left top, left bottom, from(#33A0E8), to(#2180CE));
	background: -moz-linear-gradient(top, #33A0E8, #2180CE);
	background: -o-linear-gradient(top, #33A0E8, #2180CE);
	
	text-shadow: #355782 0 1px 2px;
	
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),inset 0px 1px 0px #83C5F1;
}

input.button:hover
{
	border-top: 1px #0070CC solid;
	border-right: 1px #006AC1 solid;
	border-bottom: 1px #005CA6 solid;
	border-left: 1px #006AC1 solid;
	
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),inset 0 0 3px #35BFF4;
}

input.button:active
{
	border-top: 1px #2270AB solid;
	border-right: 1px #186299 solid;
	border-bottom: 1px #0F568B solid;
	border-left: 1px #186299 solid;
	
	background: #2F97D7;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1866a6", endColorstr="#2f97d7");
	background: -webkit-gradient(linear, left top, left bottom, from(#1866A6), to(#2F97D7));
	background: -moz-linear-gradient(top, #1866A6, #2F97D7);
	background: -o-linear-gradient(top, #1866A6, #2F97D7);
	
	box-shadow: 0 0 0 black,inset 0 2px 2px #3D65A4;
}

input.button:focus
{
	box-shadow: 0 0 3px 1px #33A0E8,inset 0 0 3px 0 #35BFF4;
}

::-webkit-input-placeholder
{
	padding-top: 1px;
	color: #A9A9A9;
}
:-moz-placeholder
{
	color: #A9A9A9;
}
::-moz-placeholder
{
	color: #A9A9A9;
}
:-ms-input-placeholder
{
	color: #A9A9A9;
}