#frontpage #tabContainer, #frontpage #contentContainer
{
	width: 360px;
}

#frontpage #tabContainer
{
	height: 35px;
	
	margin-top: 30px;
	margin-bottom: 8px;
}

#frontpage #tabContainer .tab
{
	float: left;
	
	cursor: default;
	
	width: 120px;
	padding-top: 10px;
	padding-bottom: 10px;
	
	text-align: center;
	
	background-color: lightblue;
	
	/* TODO:
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),inset 0px 1px 0px #83C5F1;*/
	text-shadow: #355782 0 1px 2px;
}

#frontpage #tabContainer .tabActive
{
	background-color: darkgreen;
	color: white;
}

#frontpage #tabContainer .tabFirst
{
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#frontpage #tabContainer .tabLast
{
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#frontpage #contentContainer
{
	clear: left;
	margin-bottom: 15px;
	
	overflow: hidden;
	position: relative;
}

#frontpage #contentContainer .content
{
	position: absolute;
	left: 0px;
	top: 0px;
}

#frontpage #contentContainer div form div input
{
	margin-bottom: 8px;
}

#frontpage #copyright
{
	color: rgb(100, 100, 100);
}

#frontpage #logo
{
	width: 350px;
	height: 280px;
}