#frontpage #tabContainer, #frontpage #contentContainer
{
	width: 360px;
}

#frontpage #tabContainer
{
	height: 35px;
	
	margin-top: 30px;
	margin-bottom: 18px;
}

#frontpage #tabContainer .tab
{
	float: left;
	
	cursor: default;
	
	width: 120px;
	padding-top: 10px;
	padding-bottom: 10px;
	
	text-align: center;
	
	background-color: lightblue;
	
	/* TODO:
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),inset 0px 1px 0px #83C5F1;*/
	text-shadow: #355782 0 1px 2px;
}

#frontpage #tabContainer .tabActive
{
	background-color: darkgreen;
	color: white;
}

#frontpage #tabContainer .tabFirst
{
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#frontpage #tabContainer .tabLast
{
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#frontpage #contentContainer
{
	clear: left;
	margin-bottom: 15px;
	
	overflow: hidden;
	position: relative;
}

#frontpage #contentContainer .content
{
	position: absolute;
	left: 0px;
	top: 0px;
}

#frontpage #contentContainer div form div input
{
	margin-bottom: 8px;
}

#frontpage #contentContainer div form div input.button
{
	margin-top: 8px;
	float: right;
}

#frontpage #copyright
{
	color: rgb(120, 120, 120);
}

#frontpage #logo
{
	width: 325px;
	height: 260px;
}

#frontpage #aboutContent
{
	text-align: left;
	line-height: 140%; /* TODO: Important */
}

#frontpage #navbar
{
	padding: 5px;
	border-radius: 6px;
	background-color: rgba(0, 0, 0, 0.5);
	
	width: 364px;
}

#frontpage #navbar .inner
{
	height: 30px;
	line-height: 24px; /* TODO */
	
	border-radius: 4px;
	background-color: #35BFF4;
	
	border-top: solid rgb(126, 186, 231) 1px;
	/*border-right: solid rgb(126, 186, 231) 1px;*/
	
	/* TODO: Remove*/
	background: rgb(42, 127, 194); /* 2A7FC2 */
	/*background: rgb(25, 102, 166);  1966A6 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2A7FC2", endColorstr="#1966A6");
	background: -webkit-gradient(linear, left top, left bottom, from(#2A7FC2), to(#1966A6));
	background: -moz-linear-gradient(top, #2A7FC2, #1966A6);
	background: -o-linear-gradient(top, #2A7FC2, #1966A6);
	
	
	background: #2180CE;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#33a0e8", endColorstr="#2180ce");
	background: -webkit-gradient(linear, left top, left bottom, from(#33A0E8), to(#2180CE));
	background: -moz-linear-gradient(top, #33A0E8, #2180CE);
	background: -o-linear-gradient(top, #33A0E8, #2180CE);
}

#frontpage #navbar .item
{
	margin-top: 3px;
	margin-bottom: 3px;
	
	width: 120px;
	float: left;
	
	border-right: solid rgb(28, 89, 132) 1px;
	border-left: solid rgb(104, 174, 227) 1px;
	
	color: white;
	text-shadow: #355782 0 1px 2px;
	font-weight: bold;
}

#frontpage #navbar .item:first-child
{
	border-left: none;
}

#frontpage #navbar .item:last-child
{
	border-right: none;
}

#frontpage #pwrecovery
{
	float: left;
	margin-left: 10px;
	margin-top: 16px;
}