/**
 * PassDeposit
 * 
 * @author Max Geissler
 */

body
{
	background-image: url('../media/bg.gif');
}

.btnWide
{
	padding-left: 35px;
	padding-right: 35px;
}

/* TODO: Unused? */
.animationPause
{
	animation-play-state: paused !important;
	-webkit-animation-play-state: paused !important;
	-moz-animation-play-state: paused !important;
	-o-animation-play-state: pause !important;
}

/* Used for popover JS fix */
.noTransition
{
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

.logo
{
	display: block;
	
	margin-left: auto;
	margin-right: auto;
	
	margin-top: 15px;
	
	width: 325px;
	height: 260px;
}

/* Text color for dangerous texts */
.colorDanger
{
	color: #da4f49;
}