/**
 * PassDeposit
 * 
 * @author Max Geissler
 */

/* TODO: Check min-width on frontpage and mainpage! Use .container? */
/* TODO: Check page crop below login/register button */
body
{
	background-image: url('../media/bg.gif');
}

/* Remove all browser specific outlines for buttons and links */
.btn, a
{
	outline: none !important;
}

/* The default of 80% is too dark, so light it up */
.modal-backdrop,
.modal-backdrop.fade.in
{
	opacity: 0.7;
	filter: alpha(opacity=70);
}

/* Move modal dialogs down (default: 10%) */
.modal.fade.in
{
	top: 15%;
}

/* Set background color of .active to .disabled (default: transparent) */
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus,
.pagination ul > .disabled > a,
.pagination ul > .disabled > span
{
	background-color: #f5f5f5;
}

/* Set correct image position */

[class^="icon-"],
[class*=" icon-"]
{
	background-image: url("../media/glyphicons-halflings.png");
}

.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:focus > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > li > a:focus > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:focus > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"],
.dropdown-submenu:focus > a > [class*=" icon-"]
{
	background-image: url("../media/glyphicons-halflings-white.png");
}

.btnWide
{
	padding-left: 35px;
	padding-right: 35px;
}

/* TODO: Unused? */
.animationPause
{
	animation-play-state: paused !important;
	-webkit-animation-play-state: paused !important;
	-moz-animation-play-state: paused !important;
	-o-animation-play-state: pause !important;
}

.noTransition
{
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

.logo
{
	display: block;
	
	margin-left: auto;
	margin-right: auto;
	
	margin-top: 15px;
	
	width: 325px;
	height: 260px;
}

.colorDanger
{
	color: #da4f49;
}

/* Modify jGrowl default settings */

div.jGrowl
{
	font-family: inherit !important;
	font-size: 12px !important;
}

div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer
{
	/*width: 250px !important;*/
	
	padding-left: 13px !important;
	padding-right: 13px !important;
}

div.jGrowl div.jGrowl-close
{
	font-size: 13px !important;
}