/**
 * PassDeposit
 * 
 * @author Max Geissler
 */

body
{
	background-image: url('../media/bg.gif');
	margin: 15px;
}

.btnWide
{
	padding-left: 35px;
	padding-right: 35px;
}

/* Used for popover JS fix */
.noTransition
{
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

/* Text color for dangerous texts */
.colorDanger
{
	color: #da4f49;
}