/**
 * PassDeposit
 * 
 * @author Max Geissler
 */

/* TODO: Check min-width on frontpage and mainpage! Use .container? */
/* TODO: Check page crop below login/register button */
body
{
	background-image: url('../img/bg.gif');
}

/* Remove all browser specific outlines for buttons and links */
.btn, a
{
	outline: none !important;
}

/* The default of 80% is too dark, so light it up */
.modal-backdrop,
.modal-backdrop.fade.in
{
	opacity: 0.7;
	filter: alpha(opacity=70);
}

/* Move modal dialogs down (default: 10%) */
.modal.fade.in
{
	top: 15%;
}

/* Set background color of .active to .disabled (default: transparent) */
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus,
.pagination ul > .disabled > a,
.pagination ul > .disabled > span
{
	background-color: #f5f5f5;
}

.btnWide
{
	padding-left: 35px;
	padding-right: 35px;
}

/* TODO: Unused? */
.animationPause
{
	animation-play-state: paused !important;
	-webkit-animation-play-state: paused !important;
	-moz-animation-play-state: paused !important;
	-o-animation-play-state: pause !important;
}

.noTransition
{
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

/* Using input:focus:invalid, input:focus:invalid:focus */
/* TODO: Unused? */
.invalidInput:focus
{
	/*color: #b94a48 !important;*/
	
	border-color: #e9322d !important;
	-webkit-box-shadow: 0 0 6px #f8b9b7 !important;
	-moz-box-shadow: 0 0 6px #f8b9b7 !important;
	box-shadow: 0 0 6px #f8b9b7 !important;
}

.logo
{
	display: block;
	
	margin-left: auto;
	margin-right: auto;
	
	margin-top: 15px;
	
	width: 325px;
	height: 260px;
}

.colorDanger
{
	color: #da4f49;
}