/**
 * PassDeposit
 * 
 * @author Max Geissler
 */

$colorBorder: #e9322d;
$colorText: #b94a48;
$colorPlaceholder: lighten($colorText, 15%);
$colorOutline: darken(#f8b9b7, 8%);

input.invalidInput
{
	border-color: lighten($colorBorder, 10%);
	/*background-color: #f2dede;*/
	color: $colorText;
}

input.invalidInput:focus
{
	border-color: $colorBorder !important;
	
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $colorOutline !important;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $colorOutline !important;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $colorOutline !important;
}

/* Placeholder styling: */

input.invalidInput::-webkit-input-placeholder
{
	color: $colorPlaceholder;
}

input.invalidInput:-moz-placeholder
{
	color: $colorPlaceholder;
}

input.invalidInput::-moz-placeholder
{
	color: $colorPlaceholder;
}

input.invalidInput:-ms-input-placeholder
{
	color: $colorPlaceholder;
}