/**
 * PassDeposit
 * 
 * @author Max Geissler
 */

/* TODO: Check min-width on frontpage and mainpage! Use .container? */

#mainpage
{
	width: 45%;
	min-width: 680px;;
	
	margin-left: auto;
	margin-right: auto;
	
	.mainNav
	{
		$space: 10px;
		
		display: table;
		
		margin-top: 25px;
		margin-bottom: 25px;
		
		/* Direct children */
		>
		{
			*
			{
				display: table-cell;
				padding-right: $space;

				div.heightFix
				{
					margin-bottom: 0px;
				}
			}
			
			*:last-child
			{
				padding-right: 0px;
			}
			
			*.fullWidth
			{
				width: 100%;
				padding-right: ($space + 2px); /* Fix search field */
			}
		}
	}

	.item
	{
		/* Include padding in width */
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}