*
{
	margin: 0px;
	padding: 0px;
}

body
{
	font: 12px Arial;
	color: rgb(70, 70, 70);
	margin: 15px 15px 30px 15px;
	background-image: url('../img/bg.gif');
}

ul, ol
{
	padding: 0.5em 0em 1.5em 2.5em;
}

img
{
	border: none;
}

a:link, a:visited, a:active
{
	color: #2281CF;
	font-weight: bold;
	text-decoration: none;
}

a:hover
{
	color: #2281CF;
	font-weight: bold;
	text-decoration: underline;
}

table
{
	border-collapse: collapse;
}

table td, table th
{
	padding: 0;
}

.tab
{
	cursor: default;
}

#content
{
	overflow: hidden;
	position: relative;
}

.content
{
	position: absolute;
	left: 0px;
	top: 0px;
}