/**
 * PassDeposit
 * 
 * Created by Max Geissler
 */

#mainList
{
	.item
	{
		$borderRadius: 4px;
		$arrowLeft: 18px;

		padding: 8px;

		background-color: #f5f5f5;
		border: 1px solid #e3e3e3;

		&:not(:first-child)
		{
			border-top: 0;
		}

		&:first-child
		{
			-webkit-border-top-left-radius: $borderRadius;
			-moz-border-top-left-radius: $borderRadius;
			border-top-left-radius: $borderRadius;

			-webkit-border-top-right-radius: $borderRadius;
			-moz-border-top-right-radius: $borderRadius;
			border-top-right-radius: $borderRadius;

			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
			-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
		}

		&:last-child
		{
			-webkit-border-bottom-left-radius: $borderRadius;
			-moz-border-bottom-left-radius: $borderRadius;
			border-bottom-left-radius: $borderRadius;

			-webkit-border-bottom-right-radius: $borderRadius;
			-moz-border-bottom-right-radius: $borderRadius;
			border-bottom-right-radius: $borderRadius;
		}

		.line
		{
			display: table;
			width: 100%;

			cursor: pointer;

			& > div
			{
				display: table-cell;
			}

			& > div:first-child
			{
				width: $arrowLeft;
			}

			&.open
			{
				cursor: default;

				& > div:first-child > i
				{
					@extend .icon-chevron-down;
				}
			}
		}

		.content
		{
			$defaultMargin: 6px;
			margin-top: ($defaultMargin + 6px);
			margin-left: $arrowLeft;
			margin-bottom: $defaultMargin;
			margin-right: ($defaultMargin + 250px);
		}
	}
}
