/**
 * PassDeposit
 * 
 * @author Max Geissler
 */

/* TODO: Check min-width on frontpage and mainpage! Use .container? */

#mainpage
{
	.mainNav
	{
		margin-top: 25px;
		margin-bottom: 25px;

		/*text-align: center;*/
		
		width: 50%;
		margin-left: auto;
		margin-right: auto;

		background-color: red;

		div.btn-group
		{
			/*text-align: left;*/
		}

		div.heightFix
		{
			margin-bottom: 0px;
		}

		.btn-group.fullWidth
		{
			width: auto;
		}
	}

	#search
	{
		/*width: 350px;*/
	}

	.item
	{
		/* Include padding in width */
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		
		width: 50%;

		margin-left: auto;
		margin-right: auto;
	}

	.itemFieldContainer
	{
		width: 100%;
	}
}