/**
 * PassDeposit
 * 
 * Created by Max Geissler
 */

 @import "panel.scss";

#mainList
{
	.item
	{
		$arrowLeft: 18px;

		padding: 8px;

		background-color: $panelBackgroundColor;
		border: 1px solid $panelBorderColor;

		cursor: pointer;

		&:not(.open):hover
		{
			background-color: rgb(240, 240, 240);
		}

		&:not(:first-child)
		{
			border-top: 0;
		}

		&:first-child
		{
			-webkit-border-top-left-radius: $panelBorderRadius;
			-moz-border-top-left-radius: $panelBorderRadius;
			border-top-left-radius: $panelBorderRadius;

			-webkit-border-top-right-radius: $panelBorderRadius;
			-moz-border-top-right-radius: $panelBorderRadius;
			border-top-right-radius: $panelBorderRadius;

			@extend .panelShadow;
		}

		&:last-child
		{
			-webkit-border-bottom-left-radius: $panelBorderRadius;
			-moz-border-bottom-left-radius: $panelBorderRadius;
			border-bottom-left-radius: $panelBorderRadius;

			-webkit-border-bottom-right-radius: $panelBorderRadius;
			-moz-border-bottom-right-radius: $panelBorderRadius;
			border-bottom-right-radius: $panelBorderRadius;
		}

		&.open
		{
			cursor: default;
		}

		/* Set the arrow */
		$arrowOpacityInactive: 0.3;
		$arrowOpacityActive: 0.6;
		& > .line > div:first-child > i
		{
			opacity: $arrowOpacityInactive;
		}

		&:hover > .line > div:first-child > i
		{
			opacity: $arrowOpacityActive;
		}

		&.open > .line > div:first-child > i
		{
			@extend .icon-chevron-down;
			opacity: $arrowOpacityActive;
		}

		.line
		{
			display: table;
			width: 100%;

			> div
			{
				display: table-cell;
			}

			> div:first-child
			{
				width: $arrowLeft;
			}

			// TODO: no word wrap + overflow hidden
			.description
			{
				overflow: hidden;
			}

			.dot
			{
				// TODO: Why not working?
				//content: "•";

				padding-left: 2px;
				padding-right: 2px;

				font-weight: bold;
			}
		}

		.content
		{
			$defaultMargin: 6px;

			margin-top: ($defaultMargin + 6px);
			margin-left: $arrowLeft;
			margin-bottom: $defaultMargin;
			margin-right: ($defaultMargin + 250px);
		}
	}
}
