/**
 * PassDeposit
 * 
 * @author Max Geissler
 */

/* TODO: Check min-width on frontpage and mainpage! Use .container? */

.mainNav
{
	margin-top: 25px;
	margin-bottom: 25px;
	
	text-align: center;
}

.mainNav div.btn-group
{
	text-align: left;
}

.mainNav div.heightFix
{
	/* TODO: Why is this fix needed? Problem when zooming! */
	height: 30px;
}

#search
{
	width: 350px;
}

/* TODO: REMOVE */
/*.mainmenu
{
	width: 800px;
	
	margin-left: auto;
	margin-right: auto;
	
	background-color: red;
}*/

.item
{
	width: 600px;
	
	margin-left: auto;
	margin-right: auto;
}

.itemFieldContainer
{
	/* TODO */
	margin-bottom: 10px;
}

.itemFieldContainer .btn-group
{
	height: 30px;
}