/**
 * PassDeposit
 * 
 * Created by Max Geissler
 */

$panelBackgroundColor: rgb(248, 248, 248);
$panelBorderColor: #e3e3e3;
$panelBorderRadius: 4px;

.panel
{
	min-height: 20px;
	padding: 19px;

	height: 200px;

	text-align: center;
	vertical-align: middle;

	background-color: $panelBackgroundColor;
	border: 1px solid $panelBorderColor;

	-webkit-border-radius: $panelBorderRadius;
	-moz-border-radius: $panelBorderRadius;
	border-radius: $panelBorderRadius;

	@extend .panelShadow;
}

.panelShadow
{
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
