/*!
 * ================================================================
 * 
 * PassDeposit
 * 
 * @author Max Geissler
 * 
 * You should have received a copy of the license along with this
 * program; if not, see <https://github.com/fluidblue/passdeposit>
 * 
 * ================================================================
 */

@import "lib/bootstrap.scss";
@import "globals.scss";
@import "frontpage.scss";
@import "mainpage.scss";