/**
 * PassDeposit
 * 
 * @author Max Geissler
 */

/* TODO: Check min-width on frontpage and mainpage! Use .container? */
/* TODO: Check page crop below login/register button */
body
{
	background-image: url('../img/bg.gif');
}

/* Remove all browser specific outlines for buttons and links */
.btn, a
{
	outline: none !important;
}

/* The default of 80% is too dark, so light it up */
.modal-backdrop,
.modal-backdrop.fade.in
{
	opacity: 0.7;
	filter: alpha(opacity=70);
}

/* Move modal dialogs down (default: 10%) */
.modal.fade.in
{
	top: 15%;
}

/* Set background color of .active to .disabled (default: transparent) */
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus,
.pagination ul > .disabled > a,
.pagination ul > .disabled > span
{
	background-color: #f5f5f5;
}

.btn-wide
{
	padding-left: 35px;
	padding-right: 35px;
}

.logo
{
	display: block;
	
	margin-left: auto;
	margin-right: auto;
	
	margin-top: 15px;
	
	width: 325px;
	height: 260px;
}

#loginPassForgotten
{
	padding-left: 6px; /* top, bottom inherited from padding of .btn + 1px border of .btn */
}

#frontNav
{
	margin-top: 25px;
	margin-bottom: 25px;
}

/* Center frontNav */
#frontNav.nav-pills > li
{
	float: none;
	display: inline-block;
	*display: inline; /* ie7 fix */
	zoom: 1; /* hasLayout ie7 trigger */
}

/* Center frontNav */
#frontNav.nav-pills
{
	text-align: center;
}

/* Make frontNav pills fixed size */
#frontNav.nav-pills > li
{
	width: 108px;
}

/* Make frontNav pills green */
/*#frontNav.nav > li.active > a
{
	background-color: #46a546;
}*/

/* Better visibility of navpills in background image */
#frontNav.nav > li:not(.active) > a:hover,
#frontNav.nav > li:not(.active) > a:focus
{
	background-color: rgba(0, 0, 0, 0.06);
}

#about
{
	text-align: justify;
}

#frontpage
{
	/*position: relative;*/
}

#frontpage .content
{
	width: 345px;
	
	margin-left: auto;
	margin-right: auto;
	
/*	position: relative;
	top: 0px !important;*/
	
	/*position: absolute;*/
	/*left: 50%;*/
	/*margin-left: -173px; half the width*/
}

.btn-group-wrap
{
	margin-top: 25px;
	margin-bottom: 25px;
	
	text-align: center;
}

.btn-group-wrap div.btn-group
{
	text-align: left;
}

.btn-group-wrap div.btn-group-search
{
	/* TODO: Why is this fix needed? Problem when zooming! */
	height: 30px;
}

#search
{
	width: 350px;
}

/* TODO: REMOVE */
/*.mainmenu
{
	width: 800px;
	
	margin-left: auto;
	margin-right: auto;
	
	background-color: red;
}*/

.item
{
	width: 500px;
	
	margin-left: auto;
	margin-right: auto;
}

.item div span.add-on
{
	padding-left: 8px;
	padding-right: 8px;
}

.color-danger
{
	color: #da4f49;
}