/**
 * PassDeposit
 * 
 * Created by Max Geissler
 */

#banner
{
	position: absolute;
	top: 0;
	left: 0;

	width: 150px;
	height: 173px;

	background-image: url('../media/banner.png');
	background-repeat: no-repeat;

	> div
	{
		width: 150px;
		height: 150px;
		transform: rotate(-45deg);

		text-align: center;

		> div
		{
			/* Match text to background image */
			padding-top: 39px;
			height: 37px;
    		line-height: 37px;

    		/* Text formatting */
			color: white;
			font-weight: bold;
			font-size: 15px;
		}
	}
}
