/**
 * PassDeposit
 * 
 * Created by Max Geissler
 */

#banner
{
	position: absolute;
	top: 0;
	left: 0;

	width: 150px;
	height: 173px;

	background-image: url('../media/banner.png');
	background-repeat: no-repeat;
}
