/**
 * PassDeposit
 * 
 * Created by Max Geissler
 */

body
{
	background-image: url('../media/bg.gif');
	margin: 15px;
}

.btnWide
{
	padding-left: 35px;
	padding-right: 35px;
}

/* Used for popover JS fix */
.noTransition
{
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

/* Text color for dangerous texts */
.colorDanger
{
	color: #da4f49;
}

/* Upfacing caret, must have also the class 'caret' */
.caretUp
{
	border-top: 0;
	border-bottom: 4px solid black;
}

/* Display like a keyboard key */
span.key
{
	display: inline-block;

	border: 1px solid white;
	border-radius: 4px;

	line-height: 16px;
	min-width: 8px;

	text-align: center;

	padding-left: 4px;
	padding-right: 4px;

	margin-left: 1px;
	margin-right: 1px;
}
